<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal web</title>
</head>
<body>
    <!--Cabecera y menú-->
    <h1>My personal web</h1>
    <ul>
        <li><a href="/">Cover page</a></li>
        <li><a href="/about-me/">About</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
    <!--Contenido-->
    {% block content %}{% endblock %}
</body>
</html>